

<div class="container">
  <div class="row">
    <div class="col-md-5">
      <form action="/gradovi/add" method="post">
        <div class="form-group">
          <label for="grad">City</label>
          <input type="text" class="form-control" id="grad" name="grad" required placeholder="Enter city name">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a type="button" class="btn btn-primary" href="/gradovi">Back</a>
      </form>
    </div>
  </div>
</div>


